$colWidth: 8.3%;
$logoFontFace: "Existance Light", sans-serif;
$fontLatoHairline: "Lato Thin", sans-serif;
$fontLatoLight: "Lato Light", sans-serif;
$secondaryColor: #9f449b;
$headerTextColor: white;
$menuGreyColor: #8d8d8d;
$secondaryBackgroundColor: #eeeeee;