$colWidth: 8.3%;

$logoFontFace: "Existance Light", sans-serif;
$headerFontFace: "Lato Thin", sans-serif;
$headlineFontFace: "Lato Light", sans-serif;
$teamNameFont: "Lato Bold", sans-serif;
$teamPositionFont: "Lato Regular", sans-serif;
$ourSkillsFont: "HelveticaNeueLTStd Bd";

$secondaryColor: #9f449b;
$headerTextColor: white;
$menuGreyColor: #8d8d8d;
$secondaryBackgroundColor: #eeeeee;
$featureIconStrokeColor: #ccd0d2;
$featureIconStrokeHoverColor: #a957a5;
$featureTextColor: #676767;
$teamNameFontColor: #484848;
$teamPositionFontColor: #a4a4a4;