@font-face {
  font-family: "Existance Light";
  src: url("../fonts/existence-light-webfont.woff");
}
html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

img, video, canvas {
  max-width: 100%;
}

.gridContainer {
  width: 100%;
}
.gridContainer .row [class*="col-"] {
  float: left;
  min-height: 1px;
  border: 1px solid red;
}
.gridContainer .row .col-1 {
  width: 8.3%;
}
.gridContainer .row .col-2 {
  width: 16.6%;
}
.gridContainer .row .col-3 {
  width: 24.9%;
}
.gridContainer .row .col-4 {
  width: 33.2%;
}
.gridContainer .row .col-5 {
  width: 41.5%;
}
.gridContainer .row .col-6 {
  width: 49.8%;
}
.gridContainer .row .col-7 {
  width: 58.1%;
}
.gridContainer .row .col-8 {
  width: 66.4%;
}
.gridContainer .row .col-9 {
  width: 74.7%;
}
.gridContainer .row .col-10 {
  width: 83%;
}
.gridContainer .row .col-11 {
  width: 91.3%;
}
.gridContainer .row .col-12 {
  width: 99.6%;
}
.gridContainer .row:before,
.gridContainer .row:after {
  content: "";
  display: table;
  clear: both;
}

.siteWidth {
  border: 2px solid gold;
  width: 80%;
  margin: 0 auto;
  max-width: 1170px;
}

/* header */
.headerBackground {
  width: 100%;
  background-image: url("../img/headerCover.jpg");
  padding-bottom: 81%;
  height: 0;
  background-repeat: no-repeat;
  border: 4px solid silver;
}

.headerLogo h1 {
  margin: 5% 0 0 0;
  font-family: "Existance Light", sans-serif;
  color: white;
  font-size: 5.5rem;
  text-align: center;
}
.headerLogo h1 span {
  color: #9f449b;
}

.headerText {
  margin: 7% 0;
  color: white;
  text-align: center;
}
.headerText h2 {
  font-family: "Lato Thin", sans-serif;
  font-size: 3rem;
}
.headerText p {
  margin: 2% 0 0 0;
  font-family: "Lato Thin", sans-serif;
  font-size: 1.5rem;
}

.headerIcon {
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/headerIcons/whiteIconBackground.png");
  padding: 3% 0;
  margin: 20% 0 0 0;
}
.headerIcon img {
  border: 4px solid greenyellow;
  width: 50%;
}

.headerIcon:hover {
  background-image: url("../img/headerIcons/purpleIconBackground.png");
}

.headerTopIcon {
  margin: 0 0 20% 0;
}

.scroller {
  text-align: center;
  width: 100%;
}
.scroller svg {
  width: 10%;
  fill: #fff;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-width: 4px;
  fill-opacity: 0.1;
  fill-rule: evenodd;
}
.scroller svg:hover {
  stroke: #9f449b;
  stroke-linejoin: round;
  stroke-width: 4px;
  fill-opacity: 1;
  fill: #9f449b;
}

/* sticky menu */
.menu {
  height: 50px;
}

.menuLogo {
  text-align: left;
  border: 3px solid seagreen;
  font-family: "Existance Light", sans-serif;
  font-size: 2rem;
}
.menuLogo a {
  color: #8d8d8d;
  text-decoration: none;
}
.menuLogo span {
  color: #9f449b;
}

.menuSticky {
  width: 100%;
  background-color: white;
  height: 50px;
  border: 2px solid black;
}
.menuSticky ul {
  text-align: right;
}
.menuSticky ul li {
  border: 2px solid greenyellow;
  display: inline;
}
.menuSticky ul li a {
  font-family: "Lato Light", sans-serif;
  font-size: 1rem;
  color: #8d8d8d;
  text-decoration: none;
  text-transform: uppercase;
}
.menuSticky ul li a span {
  color: #9f449b;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

/* big adjectives let's call it content, changed my mind it is gonna be called feature */
.feature {
  background-color: #eeeeee;
  border: 2px solid gold;
  padding: 7% 0;
  text-align: center;
}
.feature svg {
  width: 65%;
  stroke: #ccd0d2;
  stroke-linejoin: round;
  stroke-width: 2px;
  fill: #fff;
  fill-opacity: 0.1;
  fill-rule: evenodd;
  transition: 1s;
}
.feature svg:hover {
  stroke: #a957a5;
  stroke-linejoin: round;
  stroke-width: 2px;
  fill-opacity: 0.1;
  fill: #a957a5;
  fill-rule: evenodd;
}
.feature h4 {
  margin: 15% 0;
  font-family: "Lato Light", sans-serif;
  font-size: 1.5rem;
  color: #676767;
}
.feature p {
  color: #676767;
  font-family: "Lato Light", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* about section */
.about {
  text-align: center;
}
.about .aboutLogo {
  margin: 10% auto;
  border: 3px solid green;
  position: relative;
  width: 35%;
}
.about .aboutLogo h2 {
  font-family: "Existance Light", sans-serif;
  color: #676767;
  font-size: 3rem;
  padding: 7%;
}
.about .aboutLogo h2 span {
  color: #9f449b;
}
.about .aboutLogo svg {
  fill: #9f449b;
  fill-rule: evenodd;
  width: 5%;
}
.about .aboutLogo #aboutLogoRight {
  position: absolute;
  top: 0;
  right: 0;
}
.about .aboutLogo #aboutLogoLeft {
  position: absolute;
  bottom: 0;
  left: 0;
}
.about .aboutContent {
  margin: 0 0 15% 0;
}
.about .aboutContent p {
  margin: 20% 0;
  font-family: "Lato Light", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
.about .aboutContent a {
  padding: 4% 8%;
  border-radius: 6px;
  color: white;
  width: 230px;
  height: 75px;
  background-color: #9f449b;
  font-family: "Lato Light", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
}

/* quote section */
.quote {
  background-image: url("../img/quoteBackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 0 0 10% 0;
  text-align: center;
}
.quote svg {
  width: 15%;
  margin: 10% 0 10% 0;
  fill: #fff;
  fill-rule: evenodd;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-width: 3px;
  fill-opacity: 0.1;
}
.quote h2 {
  font-family: "Lato Light", sans-serif;
  font-size: 3rem;
  color: white;
}

/* team section */
.team .teamLogo {
  text-align: center;
  border: 3px solid green;
  width: 30%;
  margin: 10% auto;
  position: relative;
}
.team .teamLogo h2 {
  padding: 7%;
  font-family: "Existance Light", sans-serif;
  font-size: 3em;
}
.team .teamLogo h2 span {
  color: #9f449b;
}
.team .teamLogo svg {
  width: 5%;
  fill: #9f449b;
  fill-rule: evenodd;
}
.team .teamLogo #teamLogoRight {
  position: absolute;
  top: 0;
  right: 0;
}
.team .teamLogo #teamLogoLeft {
  position: absolute;
  bottom: 0;
  left: 0;
}
.team .teamArrowLeft {
  text-align: right;
}
.team .teamArrowRight {
  padding: 4px 0 0 4px;
  text-align: left;
}
.team .teamPortraitContent {
  margin: 30% auto;
  border: 3px solid cornflowerblue;
  width: 65%;
  text-align: center;
  padding: 0 0 15% 0;
}
.team .teamPortraitContent .teamPortrait {
  margin: 0 0 20% 0;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 50%;
  background-color: #8d8d8d;
  background-size: contain;
}
.team .teamPortraitContent h3 {
  font-family: "Lato Bold", sans-serif;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #484848;
}
.team .teamPortraitContent p {
  font-family: "Lato Regular", sans-serif;
  font-size: 1.1rem;
  line-height: 2rem;
  color: #a4a4a4;
  margin: 0 0 7% 0;
}
.team .teamPortraitContent .teamSocialSprite #hakeemFb {
  background: url("../img/sprite.png") no-repeat 0 -1px;
  width: 48px;
  height: 47px;
  padding: 0 22% 15% 0;
  margin: 0 7% 0 0;
}
.team .teamPortraitContent .teamSocialSprite #hakeemGplus {
  background: url("../img/sprite.png") no-repeat -52px -1px;
  width: 47px;
  height: 47px;
  padding: 0 25% 15% 0;
}
.team .teamPortraitContent .teamSocialSprite #williamsFb {
  background: url("../img/sprite.png") no-repeat 0 -1px;
  width: 48px;
  height: 47px;
  padding: 0 22% 15% 0;
  margin: 0 7% 0 0;
}
.team .teamPortraitContent .teamSocialSprite #williamsGplus {
  background: url("../img/sprite.png") no-repeat -52px -1px;
  width: 47px;
  height: 47px;
  padding: 0 25% 15% 0;
}
.team .teamPortraitContent .teamSocialSprite #smithFb {
  background: url("../img/sprite.png") no-repeat 0 -1px;
  width: 48px;
  height: 47px;
  padding: 0 22% 15% 0;
  margin: 0 7% 0 0;
}
.team .teamPortraitContent .teamSocialSprite #smithGplus {
  background: url("../img/sprite.png") no-repeat -52px -1px;
  width: 47px;
  height: 47px;
  padding: 0 25% 15% 0;
}

.ourSkillsLogo {
  text-align: center;
  border: 3px solid green;
  width: 30%;
  margin: 10% auto;
  position: relative;
}
.ourSkillsLogo h2 {
  padding: 7%;
  font-family: "Existance Light", sans-serif;
  font-size: 3em;
}
.ourSkillsLogo h2 span {
  color: #9f449b;
}
.ourSkillsLogo svg {
  width: 5%;
  fill: #9f449b;
  fill-rule: evenodd;
}
.ourSkillsLogo #ourSkillsLogoRight {
  position: absolute;
  top: 0;
  right: 0;
}
.ourSkillsLogo #ourSkillsLogoLeft {
  position: absolute;
  bottom: 0;
  left: 0;
}

.ourSkillsContainer {
  margin: 10% 0 25% 0;
}
.ourSkillsContainer .ourSkillsSkills h3 {
  text-transform: uppercase;
  font-family: "Lato Bold", sans-serif;
  font-size: 1.6rem;
  margin: 10% 0 5% 0;
}
.ourSkillsContainer .ourSkillsSkills h3 span {
  float: right;
  font-family: "Lato Regular", sans-serif;
  color: #8d8d8d;
  margin: 0 10% 0 0;
}

/* service with amazing quote */
.services {
  background-image: url("../img/quoteBackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 0 0 10% 0;
  text-align: center;
}
.services svg {
  width: 15%;
  margin: 10% 0 10% 0;
  fill: #fff;
  fill-rule: evenodd;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-width: 3px;
  fill-opacity: 0.1;
}
.services h2 {
  font-family: "Lato Light", sans-serif;
  font-size: 3rem;
  color: white;
}

/* statistics section */
.statistics {
  padding: 10% 0;
  background-color: #eeeeee;
  text-align: center;
}
.statistics h2 {
  font-family: "Lato Bold", sans-serif;
  font-size: 4rem;
  margin: 5% 0;
}
.statistics p {
  font-family: "Lato Regular", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #777777;
}

/* testimonials section */
.testimonials {
  background-color: #eeeeee;
  padding: 10% 0;
}
.testimonials .testimonialsSlider {
  text-align: center;
}
.testimonials .testimonialsSlider .testimonialsPortraitContainer {
  width: 20%;
  margin: 0 auto;
  border: 2px solid palegreen;
}
.testimonials .testimonialsSlider .testimonialsPortraitContainer .testimonialsPortrait {
  margin: 0 0 20% 0;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 50%;
  background-color: #8d8d8d;
  background-size: contain;
}
.testimonials .testimonialsSlider ul {
  list-style: none;
  border: 2px solid darkolivegreen;
}
.testimonials .testimonialsSlider ul p {
  margin: 5% 0;
  color: #4b4b4b;
  font-family: "Lato Regular", sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
}
.testimonials .testimonialsSlider ul h4 {
  margin: 0 0 3% 0;
  color: #4b4b4b;
  font-family: "Lato Bold", sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
}
.testimonials .testimonialsSlider .invisible {
  display: none;
}

/*# sourceMappingURL=style.css.map */
