@import "variables";
@font-face{
  font-family: "Existance Light";
  src: url("../fonts/existence-light-webfont.woff");
}
html{
  font-size: 16px;
}
*{
  box-sizing: border-box;
}
img, video, canvas {
  max-width: 100%;
}
.gridContainer {
  width: 100%;
  .row {
    [class*="col-"]{
      float: left;
      min-height: 1px;
      border: 1px solid red;
    }
    @for $i from 1 through 12{
      .col-#{$i} {
        width: $colWidth * $i;
      }
    }
  }
  .row:before,
  .row:after{
    content: "";
    display: table;
    clear: both;
  }
}
.siteWidth{
  border: 2px solid gold;
  width: 80%;
  margin: 0 auto;
  max-width: 1170px;
}

/* header */
.headerBackground{
  width: 100%;
  background-image: url("../img/headerCover.jpg");
  padding-bottom: 81%;
  height:0;
  background-repeat: no-repeat;
  border: 4px solid silver;
}
.headerLogo h1{
  margin: 5% 0 0 0;
  font-family: $logoFontFace;
  color: $headerTextColor;
  font-size: 5.5rem;
  text-align: center;
  span{
    color: $secondaryColor;
  }
}
.headerText{
  margin: 7% 0;
  color: $headerTextColor;
  text-align: center;
  h2{
    font-family: $headerFontFace;
    font-size: 3rem;
  }
  p{
    margin: 2% 0 0 0;
    font-family: $headerFontFace;
    font-size: 1.5rem;
  }
}
.headerIcon{
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/headerIcons/whiteIconBackground.png");
  padding: 3% 0;
  margin: 20% 0 0 0;
  img{
    border: 4px solid greenyellow;
    width: 50%;
  }
}
.headerIcon:hover{
  background-image: url("../img/headerIcons/purpleIconBackground.png");
}
.headerTopIcon{
  margin: 0 0 20% 0;
}
.scroller{
  text-align: center;
  width: 100%;
  svg {
    width: 10%;
    fill: #fff;
    stroke: #fff;
    stroke-linejoin: round;
    stroke-width: 4px;
    fill-opacity: 0.1;
    fill-rule: evenodd;
  }
  svg:hover{
    stroke: #9f449b;
    stroke-linejoin: round;
    stroke-width: 4px;
    fill-opacity: 1;
    fill: #9f449b;
  }
}

/* sticky menu */
.menu{
  height: 50px;
}
.menuLogo{
  text-align: left;
  border: 3px solid seagreen;
  font-family: $logoFontFace;
  font-size: 2rem;
  a{
    color: $menuGreyColor;
    text-decoration: none;
  }
  span{
    color: $secondaryColor;
  }
}
.menuSticky{

  width: 100%;
  background-color: white;
  height: 50px;
  border: 2px solid black;
  ul{
    text-align: right;
    li{
      border: 2px solid greenyellow;
      display: inline;
      a{
        font-family: $headlineFontFace;
        font-size: 1rem;
        color: $menuGreyColor;
        text-decoration: none;
        text-transform: uppercase;
        span{
          color: $secondaryColor;
        }
      }
    }
  }
}
.sticky{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

/* big adjectives let's call it content, changed my mind it is gonna be called feature */

.feature{
  background-color: $secondaryBackgroundColor;
  border: 2px solid gold;
  padding: 7% 0;
  text-align: center;
  svg {
    width: 65%;
    stroke: $featureIconStrokeColor;
    stroke-linejoin: round;
    stroke-width: 2px;
    fill: #fff;
    fill-opacity: 0.1;
    fill-rule: evenodd;
    transition: 1s;
  }
  svg:hover {
    stroke: $featureIconStrokeHoverColor;
    stroke-linejoin: round;
    stroke-width: 2px;
    fill-opacity: 0.1;
    fill: $featureIconStrokeHoverColor;
    fill-rule: evenodd;
  }
  h4{
    margin: 15% 0;
    font-family: $headlineFontFace;
    font-size: 1.5rem;
    color: $featureTextColor;
  }
  p{
    color: $featureTextColor;
    font-family: $headlineFontFace;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

/* about section */

.about{
  text-align: center;
  .aboutLogo{
    margin: 10% auto;
    border: 3px solid green;
    position: relative;
    width: 35%;
    h2{
      font-family: $logoFontFace;
      color: $featureTextColor;
      font-size: 3rem;
      padding: 7%;
      span{
        color: $secondaryColor;
      }
    }
    svg {
      fill: $secondaryColor;
      fill-rule: evenodd;
      width: 5%;
    }
    #aboutLogoRight{
      position: absolute;
      top: 0;
      right: 0;
    }
    #aboutLogoLeft{
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .aboutContent{
    margin: 0 0 15% 0;
    p{
      margin: 20% 0;
      font-family: $headlineFontFace;
      font-size: 1rem;
      line-height: 1.5rem;
    }
    a{
      padding: 4% 7%;
      border-radius: 5%;
      background-color: $secondaryColor;
      text-decoration: none;
      color: $headerTextColor;
      font-family: $headlineFontFace;
      font-size: 1.5rem;
      box-shadow: -2px 4px 5px 0px rgba(0,0,0,0.75);
    }
  }
}

/* quote section */

.quote{
  background-image: url("../img/quoteBackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 0 0 10% 0;
  text-align: center;
  svg{
    width: 15%;
    margin: 10% 0 10% 0;
    fill: #fff;
    fill-rule: evenodd;
    stroke: #fff;
    stroke-linejoin: round;
    stroke-width: 3px;
    fill-opacity: 0.1;
  }
  h2{
    font-family: $headlineFontFace;
    font-size: 3rem;
    color: white;
  }
}

/* team section */

.team{
  .teamLogo{
    text-align: center;
    border: 3px solid green;
    width: 30%;
    margin: 10% auto;
    position: relative;
    h2{
      padding: 7%;
      font-family: $logoFontFace;
      font-size: 3em;
      span{
        color: $secondaryColor;
      }
    }
    svg{
      width: 5%;
      fill: $secondaryColor;
      fill-rule: evenodd;
    }
    #teamLogoRight{
      position: absolute;
      top: 0;
      right: 0;
    }
    #teamLogoLeft{
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .teamArrowLeft {
    text-align: right;
  }
  .teamArrowRight{
    padding: 4px 0 0 4px;
    text-align: left;
  }
  .teamPortraitContent{
    margin: 30% auto;
    border: 3px solid cornflowerblue;
    width: 65%;
    text-align: center;
    padding: 0 0 15% 0;
    .teamPortrait{
      margin: 0 0 20% 0;
      width: 100%;
      padding-bottom: 100%;
      border-radius: 50%;
      background-color: $menuGreyColor;
      background-size: contain;

    }
    h3{
      font-family: $teamNameFont;
      font-size: 1.5rem;
      line-height: 2.5rem;
      color: $teamNameFontColor;
    }
    p{
      font-family: $teamPositionFont;
      font-size: 1.1rem;
      line-height: 2rem;
      color: $teamPositionFontColor;
      margin: 0 0 7% 0;
    }
    .teamSocialSprite{
      .spriteIcon{
        background: url(../img/sprite.png) no-repeat;
        width: 20%;
        padding: 0 0 20% 0;
        display: inline-block;
        background-size: 385.41% 302.12%;
      }
      .fbIcon{
        background-position: 0 1%;
      }
      .gPlusIcon{
        background-position: 37.95% 1%;
      }
    }
  }
}
.ourSkillsLogo{
    text-align: center;
    border: 3px solid green;
    width: 30%;
    margin: 10% auto;
    position: relative;
    h2{
      padding: 7%;
      font-family: $logoFontFace;
      font-size: 3em;
      span{
        color: $secondaryColor;
      }
    }
    svg{
      width: 5%;
      fill: $secondaryColor;
      fill-rule: evenodd;
    }
    #ourSkillsLogoRight{
      position: absolute;
      top: 0;
      right: 0;
    }
    #ourSkillsLogoLeft{
      position: absolute;
      bottom: 0;
      left: 0;
    }
}
.ourSkillsContainer{
  margin: 10% 0 25% 0;
  .ourSkillsSkills {
    h3 {
      text-transform: uppercase;
      font-family: $teamNameFont;
      font-size: 1.6rem;
      margin: 10% 0 5% 0;
      span {
        float: right;
        font-family: $teamPositionFont;
        color: $menuGreyColor;
        margin: 0 10% 0 0;
      }
    }
  }
}

/* service with amazing quote */

.services{
  background-image: url("../img/quoteBackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 0 0 10% 0;
  text-align: center;
  svg{
    width: 15%;
    margin: 10% 0 10% 0;
    fill: #fff;
    fill-rule: evenodd;
    stroke: #fff;
    stroke-linejoin: round;
    stroke-width: 3px;
    fill-opacity: 0.1;
  }
  h2{
    font-family: $headlineFontFace;
    font-size: 3rem;
    color: white;
  }
}

/* statistics section */

.statistics{
  padding: 10% 0;
  background-color: $secondaryBackgroundColor;
  text-align: center;
  h2{
    font-family: $teamNameFont;
    font-size: 4rem;
    margin: 5% 0;
  }
  p{
    font-family: $teamPositionFont;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $statisticsPColor;
  }
}

/* testimonials section */
.testimonials{
  background-color: $secondaryBackgroundColor;
  padding: 10% 0;
  .testimonialsSlider{
    text-align: center;
    .testimonialsPortraitContainer{
      width: 20%;
      margin: 0 auto;
      border: 2px solid palegreen;
      .testimonialsPortrait{
        margin: 0 0 20% 0;
        width: 100%;
        padding-bottom: 100%;
        border-radius: 50%;
        background-color: $menuGreyColor;
        background-size: contain;
      }
    }
    ul{
      list-style: none;
      border: 2px solid darkolivegreen;
      p{
        margin: 5% 0;
        color: $testimonialsPColor;
        font-family: $teamPositionFont;
        font-size: 2rem;
        line-height: 2.5rem;
      }
      h4{
        margin: 0 0 3% 0;
        color: $testimonialsPColor;
        font-family: $teamNameFont;
        font-size: 2rem;
        line-height: 2.5rem;
      }
    }
    .invisible{
      display: none;
    }
  }
}

/*portfolio section */
.portfolio {
  .portfolioLogo {
    text-align: center;
    border: 3px solid green;
    width: 50%;
    margin: 10% auto;
    position: relative;
    h2 {
      padding: 7%;
      font-family: $logoFontFace;
      font-size: 3em;
      span {
        color: $secondaryColor;
      }
    }
    svg {
      width: 5%;
      fill: $secondaryColor;
      fill-rule: evenodd;
    }
    #portfolioLogoRight {
      position: absolute;
      top: 0;
      right: 0;
    }
    #portfolioLogoLeft {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .portfolioButtons{
    text-align: center;
    padding: 4%;
    ul{
      list-style: none;
      li{
        padding: 1% 3%;
        margin: 0 1%;
        display: inline;
        width: 85px;
        height: 40px;
        border-radius: 10%;
        border: 1px solid black;
        text-transform: uppercase;
        font-family: $teamPositionFont;
        font-size: 1rem;
      }
      li:hover{
        color: white;
        border-radius: 10%;
        background-color: $secondaryColor;
        border: 1px solid white;
      }
    }
  }
  .portfolioThumbnails{
    text-align: center;
    border: 3px solid greenyellow;
    width: 100%;
    padding: 2%;
    .portfolioPhotoItem{
      position: relative;
      .portfolioImgOverlay{
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 44, 44, 0.3);
        position: absolute;
        span{
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          margin: auto;
          font-family: $headerFontFace;
          font-size: 12rem;
        }
      }
    }
    h3{
      margin: 6% 2% 4% 2%;
      font-family: $teamPositionFont;
      font-size: 1.5rem;
    }
    p{
      margin: 0 0 5% 0;
      font-family: $teamPositionFont;
      font-size: 1rem;
      color: $statisticsPColor;
    }
  }
  .portfolioBottomButton{
    text-align: center;
    margin: 7% 0;
    a{
      padding: 2% 4%;
      border-radius: 5%;
      text-decoration: none;
      color: $headerTextColor;
      background-color: $secondaryColor;
      font-size: 1.5rem;
      font-family: $headlineFontFace;
      box-shadow: -2px 4px 5px 0px rgba(0,0,0,0.75);
    }
  }
}

/* contact section */
.contact {
  text-align: center;
  .contactLogo {
    text-align: center;
    border: 3px solid green;
    width: 50%;
    margin: 10% auto;
    position: relative;
    h2 {
      padding: 7%;
      font-family: $logoFontFace;
      font-size: 3em;
      span {
        color: $secondaryColor;
      }
    }
    svg {
      width: 5%;
      fill: $secondaryColor;
      fill-rule: evenodd;
    }
    #contactLogoRight {
      position: absolute;
      top: 0;
      right: 0;
    }
    #contactLogoLeft {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .contactForm {
    .contactFormInput {
      border: 1px solid $teamNameFontColor;
      width: 90%;
      margin: 3%;
      padding: 3%;
      font-family: $teamPositionFont;
      font-size: 1.5rem;
    }
    #contactMessage{
      resize:none;
      margin: 3% 3% 7% 3%;
    }
    /* placeholderc colour - i'd prefer grey but well... im gonna change it,
     it is my site.. and i am supposed to like it. */
    *::-webkit-input-placeholder {
      color: $featureTextColor;
    }
    *:-moz-placeholder {
      color: $featureTextColor;
    }
    *::-moz-placeholder {
      color: $featureTextColor;
    }
    *:-ms-input-placeholder {
      color: $featureTextColor;
    }
    #contactSend{
      padding: 4% 7%;
      border-radius: 5%;
      background-color: $secondaryColor;
      text-decoration: none;
      color: $headerTextColor;
      font-family: $headlineFontFace;
      font-size: 1.5rem;
      box-shadow: -2px 4px 5px 0px rgba(0,0,0,0.75);
    }
  }
  #contactText{
    margin: 1% 0% 7% 5%;
    font-family: "Lato Light", sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .contactInfo{
    text-align: left;
    font-family: $teamNameFont;
    font-weight: bold;
    margin: 0% 0% 7% 5%;
    font-size: 1.5rem;
  }
}
