@font-face {
  font-family: "Existance Light";
  src: url("../fonts/existence-light-webfont.woff");
}
html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

img, video, canvas {
  max-width: 100%;
}

.gridContainer {
  width: 100%;
}
.gridContainer .row [class*="col-"] {
  float: left;
  min-height: 1px;
}
.gridContainer .row .col-1 {
  width: 8.3%;
}
.gridContainer .row .col-2 {
  width: 16.6%;
}
.gridContainer .row .col-3 {
  width: 24.9%;
}
.gridContainer .row .col-4 {
  width: 33.2%;
}
.gridContainer .row .col-5 {
  width: 41.5%;
}
.gridContainer .row .col-6 {
  width: 49.8%;
}
.gridContainer .row .col-7 {
  width: 58.1%;
}
.gridContainer .row .col-8 {
  width: 66.4%;
}
.gridContainer .row .col-9 {
  width: 74.7%;
}
.gridContainer .row .col-10 {
  width: 83%;
}
.gridContainer .row .col-11 {
  width: 91.3%;
}
.gridContainer .row .col-12 {
  width: 99.6%;
}
.gridContainer .row:before,
.gridContainer .row:after {
  content: "";
  display: table;
  clear: both;
}

.siteWidth {
  width: 80%;
  margin: 0 auto;
  max-width: 1170px;
}

/* header */
.headerBackground {
  width: 100%;
  background-image: url("../img/headerCover.jpg");
  padding-bottom: 70%;
  height: 0;
  background-repeat: no-repeat;
}

.headerLogo h1 {
  margin: 5% 0 0 0;
  font-family: "Existance Light", sans-serif;
  color: white;
  font-size: 5.5rem;
  text-align: center;
}
.headerLogo h1 span {
  color: #9f449b;
}

.headerText {
  margin: 7% 0;
  color: white;
  text-align: center;
}
.headerText h2 {
  font-family: "Lato Thin", sans-serif;
  font-size: 3rem;
}
.headerText p {
  margin: 2% 0 0 0;
  font-family: "Lato Thin", sans-serif;
  font-size: 1.5rem;
}

.headerIcon {
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/headerIcons/whiteIconBackground.png");
  padding: 3% 0;
  margin: 20% 0 0 0;
}
.headerIcon img {
  width: 50%;
}

.headerIcon:hover {
  background-image: url("../img/headerIcons/purpleIconBackground.png");
}

.headerTopIcon {
  margin: 0 0 20% 0;
}

.scroller {
  text-align: center;
  width: 100%;
}
.scroller svg {
  width: 10%;
  fill: #fff;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-width: 4px;
  fill-opacity: 0.1;
  fill-rule: evenodd;
}
.scroller svg:hover {
  stroke: #9f449b;
  stroke-linejoin: round;
  stroke-width: 4px;
  fill-opacity: 1;
  fill: #9f449b;
}

/* sticky menu */
.menu {
  height: 50px;
}

.menuLogo {
  margin: 0.5% 0 0 0;
  text-align: left;
  font-family: "Existance Light", sans-serif;
  font-size: 2rem;
}
.menuLogo a {
  color: #484848;
  text-decoration: none;
}
.menuLogo span {
  color: #9f449b;
}

.menuSticky {
  width: 100%;
  background-color: white;
  height: 50px;
}
.menuSticky ul {
  margin: 2% 0 0 0;
  text-align: right;
}
.menuSticky ul li {
  margin: 0 2% 0 0;
  display: inline;
}
.menuSticky ul li a {
  font-family: "Lato Light", sans-serif;
  font-size: 1rem;
  color: #8d8d8d;
  text-decoration: none;
  text-transform: uppercase;
}
.menuSticky ul li a span {
  color: #9f449b;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

/* big adjectives let's call it content, changed my mind it is gonna be called feature */
.feature {
  background-color: #eeeeee;
  padding: 7% 0;
  text-align: center;
}
.feature svg {
  width: 65%;
  stroke: #ccd0d2;
  stroke-linejoin: round;
  stroke-width: 2px;
  fill: #fff;
  fill-opacity: 0.1;
  fill-rule: evenodd;
  transition: 1s;
}
.feature svg:hover {
  stroke: #a957a5;
  stroke-linejoin: round;
  stroke-width: 2px;
  fill-opacity: 0.1;
  fill: #a957a5;
  fill-rule: evenodd;
}
.feature h4 {
  margin: 15% 0;
  font-family: "Lato Light", sans-serif;
  font-size: 1.5rem;
  color: #676767;
}
.feature p {
  color: #676767;
  font-family: "Lato Light", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* about section */
.about {
  text-align: center;
}
.about .aboutLogo {
  margin: 3% auto;
  position: relative;
  width: 25%;
}
.about .aboutLogo h2 {
  font-family: "Existance Light", sans-serif;
  color: #484848;
  font-size: 3rem;
  padding: 7%;
}
.about .aboutLogo h2 span {
  color: #9f449b;
}
.about .aboutLogo svg {
  fill: #9f449b;
  fill-rule: evenodd;
  width: 5%;
}
.about .aboutLogo #aboutLogoRight {
  position: absolute;
  top: 0;
  right: 0;
}
.about .aboutLogo #aboutLogoLeft {
  position: absolute;
  bottom: 0;
  left: 0;
}
.about .aboutContent {
  margin: 0 0 15% 0;
}
.about .aboutContent p {
  margin: 20% 0;
  font-family: "Lato Light", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
.about .aboutContent a {
  padding: 4% 7%;
  border-radius: 5%;
  background-color: #9f449b;
  text-decoration: none;
  color: white;
  font-family: "Lato Light", sans-serif;
  font-size: 1.5rem;
  box-shadow: -2px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

/* quote section */
.quote {
  background-image: url("../img/quoteBackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 0 0 10% 0;
  text-align: center;
}
.quote svg {
  width: 15%;
  margin: 10% 0 10% 0;
  fill: #fff;
  fill-rule: evenodd;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-width: 3px;
  fill-opacity: 0.1;
}
.quote h2 {
  font-family: "Lato Light", sans-serif;
  font-size: 3rem;
  color: white;
}

/* team section */
.team .teamLogo {
  text-align: center;
  width: 25%;
  margin: 5% auto 2% auto;
  position: relative;
}
.team .teamLogo h2 {
  color: #484848;
  padding: 7%;
  font-family: "Existance Light", sans-serif;
  font-size: 3em;
}
.team .teamLogo h2 span {
  color: #9f449b;
}
.team .teamLogo svg {
  width: 5%;
  fill: #9f449b;
  fill-rule: evenodd;
}
.team .teamLogo #teamLogoRight {
  position: absolute;
  top: 0;
  right: 0;
}
.team .teamLogo #teamLogoLeft {
  position: absolute;
  bottom: 0;
  left: 0;
}
.team .teamArrowLeft {
  text-align: right;
}
.team .teamArrowLeft img {
  margin: 0 1% 0 0;
  cursor: pointer;
}
.team .teamArrowRight {
  text-align: left;
}
.team .teamArrowRight img {
  margin: 0 0 0 1%;
  cursor: pointer;
}
.team .teamPortraitContent {
  margin: 2% auto;
  width: 70%;
  text-align: center;
}
.team .teamPortraitContent .teamPortrait {
  width: 100%;
  background-size: contain;
  margin: 5% auto;
}
.team .teamPortraitContent .teamPortrait img {
  border-radius: 100%;
}
.team .teamPortraitContent h3 {
  font-family: "Lato Bold", sans-serif;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #484848;
}
.team .teamPortraitContent p {
  font-family: "Lato Regular", sans-serif;
  font-size: 1.1rem;
  line-height: 2rem;
  color: #a4a4a4;
  margin: 0 0 7% 0;
}
.team .teamPortraitContent .teamSocialSprite .spriteIcon {
  background: url(../img/contactSprite.png) no-repeat;
  width: 20%;
  padding: 0 0 20% 0;
  display: inline-block;
  background-size: 396.15% 100%;
}
.team .teamPortraitContent .teamSocialSprite .fbIcon {
  background-position: 0% 0%;
}
.team .teamPortraitContent .teamSocialSprite .gPlusIcon {
  background-position: 100% 0%;
}
.team .teamOpaque {
  opacity: 0.5;
}
.team .active {
  opacity: 1;
}

.ourSkillsLogo {
  text-align: center;
  width: 25%;
  margin: 1% auto;
  position: relative;
}
.ourSkillsLogo h2 {
  color: #484848;
  padding: 7%;
  font-family: "Existance Light", sans-serif;
  font-size: 3em;
}
.ourSkillsLogo h2 span {
  color: #9f449b;
}
.ourSkillsLogo svg {
  width: 5%;
  fill: #9f449b;
  fill-rule: evenodd;
}
.ourSkillsLogo #ourSkillsLogoRight {
  position: absolute;
  top: 0;
  right: 0;
}
.ourSkillsLogo #ourSkillsLogoLeft {
  position: absolute;
  bottom: 0;
  left: 0;
}

.ourSkillsContainer {
  margin: 1% 0 10% 0;
}
.ourSkillsContainer .ourSkillsSkills h3 {
  text-transform: uppercase;
  font-family: "Lato Bold", sans-serif;
  font-size: 1.6rem;
  margin: 4% 0 5% 0;
}
.ourSkillsContainer .ourSkillsSkills h3 span {
  float: right;
  font-family: "Lato Regular", sans-serif;
  color: #8d8d8d;
  margin: 0 10% 0 0;
}
.ourSkillsContainer .ourSkillsSkills .emptyBar {
  height: 20px;
  width: 90%;
  background-color: #8d8d8d;
}
.ourSkillsContainer .ourSkillsSkills .fullWebBar, .ourSkillsContainer .ourSkillsSkills .fullHtmlBar, .ourSkillsContainer .ourSkillsSkills .fullGraphicBar, .ourSkillsContainer .ourSkillsSkills .fullUiBar {
  height: 20px;
  display: block;
  background-color: #9f449b;
}
.ourSkillsContainer .ourSkillsSkills .fullWebBar {
  width: 0%;
}
.ourSkillsContainer .ourSkillsSkills .fullHtmlBar {
  width: 75%;
}
.ourSkillsContainer .ourSkillsSkills .fullGraphicBar {
  width: 70%;
}
.ourSkillsContainer .ourSkillsSkills .fullUiBar {
  width: 85%;
}

/* service with amazing quote */
.services {
  background-image: url("../img/quoteBackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 0 0 10% 0;
  text-align: center;
}
.services svg {
  width: 15%;
  margin: 10% 0 10% 0;
  fill: #fff;
  fill-rule: evenodd;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-width: 3px;
  fill-opacity: 0.1;
}
.services h2 {
  font-family: "Lato Light", sans-serif;
  font-size: 3rem;
  color: white;
}

/* statistics section */
.statistics {
  padding: 4% 0;
  background-color: #eeeeee;
  text-align: center;
}
.statistics h2 {
  font-family: "Lato Bold", sans-serif;
  font-size: 4rem;
  margin: 5% 0;
}
.statistics p {
  font-family: "Lato Regular", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #777777;
}

/* testimonials section */
.testimonials {
  background-color: #eeeeee;
}
.testimonials .testimonialsSlider {
  text-align: center;
}
.testimonials .testimonialsSlider .testimonialsPortrait {
  width: 15%;
  background-size: contain;
  margin: 5% auto;
}
.testimonials .testimonialsSlider .testimonialsPortrait img {
  border-radius: 100%;
}
.testimonials .testimonialsSlider ul {
  list-style: none;
}
.testimonials .testimonialsSlider ul p {
  margin: 5% 0;
  color: #4b4b4b;
  font-family: "Lato Regular", sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
}
.testimonials .testimonialsSlider ul h4 {
  margin: 0 0 3% 0;
  color: #4b4b4b;
  font-family: "Lato Bold", sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
}
.testimonials .testimonialsSlider .invisible {
  display: none;
}
.testimonials .testimonialsSlider .ol li {
  display: inline-block;
  width: 10px;
  height: 20px;
  padding: 2%;
  border-radius: 20%;
}
.testimonials .sliderNav {
  text-align: center;
  margin: 0 0 4% 0;
}
.testimonials .sliderNav li {
  display: inline-block;
  padding: 0.5%;
  background-color: #777777;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #777777;
}
.testimonials .sliderNav .sliderNavNotActiveSlide {
  background-color: #eeeeee;
  border: 1px solid #777777;
}

/*portfolio section */
.portfolio .portfolioLogo {
  text-align: center;
  width: 30%;
  margin: 3% auto;
  position: relative;
}
.portfolio .portfolioLogo h2 {
  color: #484848;
  padding: 7%;
  font-family: "Existance Light", sans-serif;
  font-size: 3em;
}
.portfolio .portfolioLogo h2 span {
  color: #9f449b;
}
.portfolio .portfolioLogo svg {
  width: 5%;
  fill: #9f449b;
  fill-rule: evenodd;
}
.portfolio .portfolioLogo #portfolioLogoRight {
  position: absolute;
  top: 0;
  right: 0;
}
.portfolio .portfolioLogo #portfolioLogoLeft {
  position: absolute;
  bottom: 0;
  left: 0;
}
.portfolio .portfolioButtons {
  text-align: center;
  padding: 4%;
}
.portfolio .portfolioButtons ul {
  list-style: none;
}
.portfolio .portfolioButtons ul li {
  padding: 1% 3%;
  margin: 0 1%;
  display: inline;
  width: 85px;
  height: 40px;
  border-radius: 10%;
  border: 1px solid black;
  text-transform: uppercase;
  font-family: "Lato Regular", sans-serif;
  font-size: 1rem;
}
.portfolio .portfolioButtons ul li:hover {
  cursor: pointer;
  color: white;
  border-radius: 10%;
  background-color: #9f449b;
  border: 1px solid white;
}
.portfolio .portfolioCol {
  width: 33.2%;
  float: left;
}
.portfolio .portfolioThumbnails {
  text-align: center;
  width: 100%;
  padding: 2%;
}
.portfolio .portfolioThumbnails .portfolioPhotoItem {
  position: relative;
}
.portfolio .portfolioThumbnails .portfolioPhotoItem .portfolioImgOverlay {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 44, 44, 0.3);
  position: absolute;
}
.portfolio .portfolioThumbnails .portfolioPhotoItem .portfolioImgOverlay span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  font-family: "Lato Thin", sans-serif;
  font-size: 12rem;
  cursor: pointer;
}
.portfolio .portfolioThumbnails h3 {
  margin: 6% 2% 4% 2%;
  font-family: "Lato Regular", sans-serif;
  font-size: 1.5rem;
  height: 2.5rem;
}
.portfolio .portfolioThumbnails p {
  margin: 0 0 5% 0;
  font-family: "Lato Regular", sans-serif;
  font-size: 1rem;
  color: #777777;
}
.portfolio .portfolioHide {
  display: none;
}
.portfolio .portfolioOverlayBig {
  display: none;
}
.portfolio .portfolioOverlayBigDisplay {
  z-index: 1;
  display: block;
  width: 100%;
  position: fixed;
  padding: 20%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  background-color: rgba(42, 44, 44, 0.5);
}
.portfolio .portfolioBottomButton {
  text-align: center;
  margin: 7% 0;
}
.portfolio .portfolioBottomButton a {
  padding: 2% 4%;
  border-radius: 5%;
  text-decoration: none;
  color: white;
  background-color: #9f449b;
  font-size: 1.5rem;
  font-family: "Lato Light", sans-serif;
  box-shadow: -2px 4px 5px 0px rgba(0, 0, 0, 0.75);
}
.portfolio .portfolioHiddenButton {
  display: none;
}

/* contact section */
.contact {
  text-align: center;
}
.contact .contactLogo {
  text-align: center;
  width: 30%;
  margin: 3% auto;
  position: relative;
}
.contact .contactLogo h2 {
  color: #484848;
  padding: 7%;
  font-family: "Existance Light", sans-serif;
  font-size: 3em;
}
.contact .contactLogo h2 span {
  color: #9f449b;
}
.contact .contactLogo svg {
  width: 5%;
  fill: #9f449b;
  fill-rule: evenodd;
}
.contact .contactLogo #contactLogoRight {
  position: absolute;
  top: 0;
  right: 0;
}
.contact .contactLogo #contactLogoLeft {
  position: absolute;
  bottom: 0;
  left: 0;
}
.contact .contactForm {
  /* placeholderc colour - i'd prefer grey but well... im gonna change it,
   it is my site.. and i am supposed to like it. */
}
.contact .contactForm .contactFormInput {
  border: 1px solid #484848;
  width: 90%;
  margin: 3%;
  padding: 3%;
  font-family: "Lato Regular", sans-serif;
  font-size: 1.5rem;
}
.contact .contactForm #contactMessage {
  resize: none;
  margin: 3% 3% 7% 3%;
}
.contact .contactForm *::-webkit-input-placeholder {
  color: #676767;
}
.contact .contactForm *:-moz-placeholder {
  color: #676767;
}
.contact .contactForm *::-moz-placeholder {
  color: #676767;
}
.contact .contactForm *:-ms-input-placeholder {
  color: #676767;
}
.contact .contactForm #contactSend {
  padding: 4% 7%;
  border-radius: 5%;
  background-color: #9f449b;
  text-decoration: none;
  color: white;
  font-family: "Lato Light", sans-serif;
  font-size: 1.5rem;
  box-shadow: -2px 4px 5px 0px rgba(0, 0, 0, 0.75);
}
.contact .contactForm .formErrorShow {
  color: #9f449b;
  font-family: "Lato Light", sans-serif;
}
.contact .contactForm .formErrorHide {
  display: none;
}
.contact #contactText {
  margin: 1% 0% 15% 5%;
  font-family: "Lato Light", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
.contact .contactInfo {
  text-align: left;
  font-family: "Lato Bold", sans-serif;
  font-weight: bold;
  margin: 0% 0% 10% 5%;
  font-size: 1.5rem;
}
.contact .contactSocialSprite {
  margin: 0;
}
.contact .contactSocialSprite .spriteIcon {
  background: url(../img/contactSprite.png) no-repeat;
  width: 15%;
  padding: 0 0 15% 0;
  display: inline-block;
  background-size: 391.13% 100%;
  margin: 10% 5% 0 0;
}
.contact .contactSocialSprite .fbIcon {
  background-position: 0;
}
.contact .contactSocialSprite .twitterIcon {
  background-position: 50% 0;
}
.contact .contactSocialSprite .gPlusIcon {
  background-position: 100% 0;
}

/*footer section */
.footer .footerLogo {
  margin: 5% 0 10% 0;
  text-align: center;
}
.footer .footerLogo a {
  text-decoration: none;
}
.footer .footerLogo a h2 {
  color: #484848;
  font-family: "Existance Light", sans-serif;
  font-size: 3rem;
}
.footer .footerLogo a h2 span {
  color: #9f449b;
}

/* fin */

/*# sourceMappingURL=style.css.map */
